.checkbox{
    float: right;
    width: 50%;
    text-align: right;
}
.titulo{
    float: left;
    width: 25%;
}
.input{
    float: left;
    width: 50%;
}
.limpiar{
    clear: both;
}